
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Helvetica;
  font-size: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 175%;
}

.section {
  margin: 15px;
  position: relative;
  background-color: gray;
  padding: 7.5px;
  border: 1px solid black;
  font-size: 125%;
}

.sectionTitle {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  margin-top: 0px;
  font-weight: bold;
}

#chicken {
  background-color: pink;
}

#beef {
  background-color: red;
  color: white;
}

#sushi {
  background-color: yellow;
}

/* Desktop */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: calc((33.33%) - 30px);

  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: calc((50%) - 30px);
  }
  .col-md-12 {
    clear: left;
    float: left;
  }
}