* {
	box-sizing: border-box;
}

div{
	background-color: gray;

}

h2 {

}

h2#chicken {
	background-color: pink;
	position: absolute;
	right: 0px;
	width: 10%;
}

h2#beef {
	background-color: brown;
}

h2#sushi {
	background-color: palegoldenrod;
}