* {
	box-sizing: border-box;
}

div{
	background-color: gray;
	position: relative;
}

h2#chicken {
	background-color: pink;
}

h2#beef {
	background-color: brown;
}

h2#sushi {
	background-color: palegoldenrod;
}